/Backrooms Escape Together.lnk
/Counter-Strike 2.url
/desktop.ini
/Discord.lnk
/Docker Desktop.lnk
/ExLoader.lnk
/FACEIT.lnk
/HTTP Toolkit.lnk
/LM Studio.lnk
/MobaXterm_installer.dat
/MobaXterm_installer_26.3.msi
/Notion.lnk
/physics.docx
/platform-tools
/Postman.lnk
/Projects
/SAMSUNG HD204UI.lnk
/ShareX.lnk
/skylot-jadx-2067ba9
/Strikers Club.url
/Stronghold 2.url
/TeamSpeak.lnk
/Visual Studio Code.lnk
/voicechat-fabric-1.16.5-2.6.16.jar
/Игры По Сети.lnk