DISCORD_BOT_TOKEN=вставь_сюда_токен_бота
NEWS_CHANNEL_ID=вставь_сюда_id_канала_news
GUILD_ID=вставь_сюда_id_сервера
ADMIN_USER_IDS=вставь_сюда_свой_discord_id

# ниже можно не менять
NEWS_CHANNEL_NAME=news
CALENDAR_TZ=Europe/Oslo
